<!-- new syntax for ng-if -->
<section *ngIf="booking">
  <section>
    <h2>Booking yang dipilih: {{booking.title}}</h2>
    <p>
      Pemesan: {{booking.user.name}} <br><br>
      Email: {{booking.user.email}} <br><br>
      Pada: {{booking.user.created_at}} . <br>
    </p>
  </section>

  <section>
  </section>
  dsd
  <form (ngSubmit)="setujui()" #personForm="ngForm">
    <div>
    <label for="validation_by">Validasi oleh: Admin LP dengan ID</label>
    <input type="number" name="validation_by" value={{booking.id}}>
    <!--<div [hidden]="name.valid || name.pristine" class="error">-->
    <!--Name is required my good sir/lady!-->
    </div>
    <!--</div>-->
    <!--<div>-->
    <!--<label for="weight">Weight: </label>-->
    <!--<input type="number" name="weight" [(ngModel)]="booking.weight">-->
    <!--</div>-->
    <!--<div>-->
    <!--<label for="height">Height: </label>-->
    <!--<input type="number" name="height" [(ngModel)]="booking.height">-->
    <!--</div>-->
    <!--<div>-->
    <!--<label for="profession">Profession:</label>-->
    <!--<select name="profession" [(ngModel)]="booking.profession">-->
    <!--<option *ngFor="let profession of professions" [value]="profession">{{profession}}</option>-->
    <!--</select>-->
    <!--</div>-->
    <button type="submit" [disabled]="!personForm.form.valid">Save</button>
  </form>
  <button (click)="gotoBookingsList()">Kembali ke list booking</button>

  <!--<section>-->
    <!--<form (ngSubmit)="savePersonDetails()" #personForm="ngForm">-->
        <!--<div>-->
            <!--<label for="name">Name: </label>-->
            <!--<input type="text" name="name" required [(ngModel)]="booking.name" #name="ngModel">-->
            <!--<div [hidden]="name.valid || name.pristine" class="error">-->
                <!--Name is required my good sir/lady!-->
            <!--</div>-->
      <!--</div>-->
      <!--<div>-->
        <!--<label for="weight">Weight: </label>-->
        <!--<input type="number" name="weight" [(ngModel)]="booking.weight">-->
      <!--</div>-->
      <!--<div>-->
        <!--<label for="height">Height: </label>-->
        <!--<input type="number" name="height" [(ngModel)]="booking.height">-->
      <!--</div>-->
      <!--<div>-->
        <!--<label for="profession">Profession:</label>-->
        <!--<select name="profession" [(ngModel)]="booking.profession">-->
          <!--<option *ngFor="let profession of professions" [value]="profession">{{profession}}</option>-->
        <!--</select>-->
      <!--</div>-->
      <!--<button type="submit" [disabled]="!personForm.form.valid">Save</button>-->
    <!--</form>-->
  <!--</section>-->

  <!--<button (click)="gotoPeoplesList()">Back to peoples list</button>-->
<!--<section>-->
